
iterate <opname, opsize>, \
_LOW_OPS_
	op_##opname##_code = % - 1 + 0x80 

	match =1, opsize
		calminstruction #opname
			emit 1, % - 1 + 0x80
		end calminstruction
	else
		calminstruction #opname val
			emit 1, % - 1 + 0x80
			emit (opsize - 1), val
		end calminstruction
	end match
end iterate
