# BlueVM Test Harness

Minimalistic test harness for BlueVM bytecode.

## Building

To build `bth` run `make` after `make` has been run in the root of the repo.

## Opcodes

Opcodes are subject to change.

| Opcode | Name | Stack Effect | Description |
|----|----|----|----|
_OPCODE_TABLE_

## TODOs

1. TAP?
