
iterate <opname, opsize>, \
_OPS_
	#opname.code = % - 1

	match =1, opsize
		calminstruction #opname
			emit 1, % - 1
		end calminstruction
	else
		calminstruction #opname val
			emit 1, % - 1
			emit (opsize - 1), val
		end calminstruction
	end match
end iterate

calminstruction litop op
	emit 1, op
end calminstruction

postpone
	db (1024 - $) dup 0
end postpone
