# BlueVM Assembler

Assembler for the BlueVM powered by `fasmg`.

## Building

To build `blasm` run `make` after `make` has been run in the root of the repo.

## Using

Files processed by `blasm` end in `.bla` by convention. The file `blasm.inc` is generated based on the BlueVM
opcode table. An example of extending `blasm` for use with custom opcodes can be found in `tools/bth` from the
root of the repo.

The `examples` directory contains example `.bla` files. The core BlueVM test files are also written in `blasm`.

## TODOs

1. Add `blasm2` for `.bla2` files that uses `fasm2` for mixed x8664 and blasm
